{# Task list view #}
{% set isIndex = 'index' == tmpl ? true : false %}
{% set tmpl = 'list' %}
{% extends isIndex ? '@MauticCore/Default/content.html.twig' : '@MauticCore/Default/raw_output.html.twig' %}

{% block mauticContent %}mautomic_crm_task{% endblock %}

{% block headerTitle %}{{ 'mautomic_crm.tasks'|trans }}{% endblock %}

{% block content %}
  {% if isIndex %}
    {{ include('@MautomicCrm/Task/_subnav.html.twig', {'activeTab': 'tasks'}) }}

    <div id="page-list-wrapper" class="{% if items|length > 0 or searchValue is not empty %}panel {% endif %}panel-default">
        {{ include('@MauticCore/Helper/list_toolbar.html.twig', {
            'searchValue': searchValue,
            'action': currentRoute,
            'page_actions': {
                'templateButtons': {
                    'new': permissions['mautomic_crm:tasks:create'],
                },
                'routeBase': 'mautic_mautomic_crm_task',
            },
        }) }}
        <div class="page-list">
  {% endif %}

  {{ include('@MautomicCrm/Task/_list.html.twig') }}

  {% if isIndex %}
        </div>
    </div>
  {% endif %}
{% endblock %}
